@using PackForTheWeather.ViewModel
@model GetTripInfoViewModel

<div class="packingList">
@foreach (var item in @Model.PackList)
{
    @if (item.Value == 0)
    {
        continue;
    }
    <span>□  @item.Key:     </span> <span>@item.Value</span>
    <br />
}
</div>