@{
    ViewData["Title"] = "Home Page";
}
@model ZipTripComfort
<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <h1 class="display-4">PackForTheWeather!</h1>
    <p>When you're ready to pack for the weather,<br /> enter your information below and get packing!</p>

<body>
    <div class="text-center">
    </div>
    <div class="input">
        <div class="container">
            <form asp-controller="Home" asp-action="GetTripInfo" method="post">             
                <div class="zip input">
                    <label asp-for="Zip"><br />Destination Zip Code (US, 5 digits only)><br /></label>
                    <input asp-for="Zip" type="text" class="form-control">
                    <br />
                </div>
                <div class="duration input">
                    <label asp-for="Trip"><br />Trip Duration in Days (Max 8)<br /></label>

                    <select asp-for="Trip" class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>                       
                    </select>
                </div>
                <div class="comfort input">
                    <label asp-for="ComfortLevel">
                        <br />                    
                        Please enter your temperature comfort level 
                        <br />On a scale of 0 -2:<br />
                        0 - you feel the same as others<br />
                        1 - you feel colder than others<br />                        
                        2 - you feel warmer than others<br />                 
                    </label>
                    <br />
                    <select asp-for="ComfortLevel" class="form-control" id="sel1">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>                    
                    </select>
                </div>
                <br />
                <button type="submit" class="btn btn-primary btn-lg btn-block">I'M READY TO PACK!</button>
            </form>
        </div>
    </div>
</body>
</html>




