@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PackForTheWeather!</h1>
    <p>When you're ready to pack for the weather, enter your information below and get packing!   
        <!-- <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>



