@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <h1 class="display-4">PackForTheWeather!</h1>
    <p>When you're ready to pack for the weather,<br /> enter your information below and get packing!</p>
</head>
<body>
    <div class="text-center">
    </div>
    <div class="input">
        <div class="container">
            <form>
                <div class="zip input">
                    <label for="usr">Destination Zip Code (US, 5 digits only)</label>
                    <input type="text" class="form-control" id="usr">
                </div>
                <div class="duration input">
                    <label for="sel1">Trip Duration in Days (Max 5)</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="comfort input">
                    <label for="sel1">Temperature Comfort:</label>
                    <select class="form-control" id="sel1">
                        <option>Concerning temperature, I typically feel...colder than others</option>
                        <option>Concerning temperature, I typically feel...about the same as others</option>
                        <option>Concerning temperature, I typically feel...warmer than others</option>
                    </select>
                </div>
            </form>
            <br>
            <button type="button" class="btn btn-primary btn-lg btn-block">I'M READY TO PACK!</button>
        </div>
    </div>
</body>
</html>




