h1 {
    position: center;
    color: white;
    font-weight:900;
    font-size: 10;  
    text-align: center;
}
h2 {
    text-align: center;
    color: white;
 }
h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
body {
    margin-bottom: 60px;
    background-image: url('/css/Images/laura-vinck-Hyu76loQLdk-unsplash.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    color: #FFFFFF;
}
form {
    color: white;
    font-weight: 400;
    position: center;
    text-align: center;
    width: 100%;
}
p{
    text-align: center;
    font-size: 24px;
    font-weight:500;
    color: white;
}
.form-control {
    width: 100%;
    text-align: center;
    position: center;
    display: inline;
   // border: 2px solid yellow;
}
div.container{
    width: 50%;
    position: center;
    text-align: center;
}

div.comfort.input {
    position: center;
    width 100%;
    text-align: center;
}
footer {
    border: 2px solid yellow;
    height:40px;
    padding:initial;
    position: center;
    color: white;
}



