html {
    position: relative;
    min-height: 100%;
}
h1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    position: center;
    width: 100%;
    margin: auto;
}
h2 {
    text-align: center;
    color: white;
 }
h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
body {
    margin-bottom: 60px;
    background-image: url(/css/Images/pexels-johannes-plenio-1118873.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}
form {
    color: white;
    font-weight: 400;
    position: center;
    text-align: center;
    width: 100%;
}
p{
    text-align: center;
    font-size: 24px;
    font-weight:500;
    color: white;
}
.form-control {
    width: 100%;
    text-align: center;
    position: center;
    display: inline;
}
div.container{
    width: 75%;
    position: center;
    text-align: center;
}
div.comfort.input {
    position: center;
    width 100%;
    text-align: center;
}
div.duration.input {
    position: center;
    width 100%;
    text-align: center;
}
div.zip.input {
    position: center;
    width 100%;
    text-align: center;
}
footer {
    position: absolute;
    font-weight: 500;
    text-align: center;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: white;
}
.display-4 {
    position: center;
    width: 100%;
    font-size: 85px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    border: 2px solid yellow;
}
main.pb-3 {
    text-align: center;
    text-align: justify;
    text-align: left;
    position: center;
    margin: auto;
    font-size: 25px;
    font-weight: 400;
  
    width: 30%;
}
div.input{   
    margin: auto;
    position: ;
    width: 100%;
    text-align: left;
}

}
div.inputthings{
    position: center;
    width: 75%;
    margin: auto;
}

div.packingList {
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    width: 100%;
}

