@model ZipTripComfort
<h1>Enter the Zip, Trp </h1>

<div class="input">
    <div class="container">
        <form asp-controller="Suitcase" asp-action="GetTripInfo" method="post">
            @*<div class="">
                <label asp-for="APIKey">Enter the API Key here</label>
                <input asp-for="APIKey" type="text" class="form-control">
            </div>*@
            <div class="zip input">
                <label asp-for="Zip">Destination Zip Code (US, 5 digits only)</label>
                <input asp-for="Zip" type="text" class="form-control" >
            </div>
            <div class="duration input">
                <label asp-for="Trip">Trip Duration in Days (Max 8)</label>       
               <select asp-for="Trip" class="form-control" id="sel1">  
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                </select>
            </div>
            <div class="comfort input">
                <label asp-for="ComfortLevel">Please enter your temperature comfort level on a scale of 1-3:<br /> 
                    1 - you typically feel colder than others<br />  
                    2 - you feel about the same as others<br />  
                    3 - you typically feel warmer than others<br />
                </label>
                <select asp-for="ComfortLevel" class="form-control" id="sel1">                    
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">I'M READY TO PACK!</button>
        </form>      
        
    </div>
</div>